# Only track large CRS database with LFS
crs_products.db filter=lfs diff=lfs merge=lfs -text
crs_products.db-shm filter=lfs diff=lfs merge=lfs -text
crs_products.db-wal filter=lfs diff=lfs merge=lfs -text
